/* Set global background and font color here. */

body {
  background-color: #FFFFFF;
  color: #22313F;
}

/* Settings for graph divs. */

div.graph {
  margin-right: 10vw;
  margin-left: 10vw;
}

h1 {
  margin-right: 10vw;
  margin-left: 10vw;
}
